<!DOCTYPE html>
{# <html lang="{{ app.request.locale|default('fr') }}"> #}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" /> #}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      referrerpolicy="no-referrer"
    />

    <title>{% block title %}Welcome!{% endblock %}</title>

    {# CSS global (idéalement via importmap/asset mapper). Laisse ton système actuel. #}
    {% block stylesheets %}
      {# Exemple si tu as un CSS global :
         <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
      #}
    {% endblock %}

    {# Slot CSS page (évite de mettre des <style> dans le body) #}
    {% block page_styles %}{% endblock %}

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
      <body  data-turbo="false">
        {% if app.user and app.request.attributes.get('_route') starts with 'app_front_' %}
        {% include "components/app_header.html.twig" %}
        {% endif %}
        {% block body %}{% endblock %}
        {% if app.user %}
        {% include "components/mobile_nav.html.twig" %}
        {% endif %}
    </body>
</html>
